body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*Home page*/
.header {margin: 30px 0 10px 0;}

.card {
    overflow: hidden;
    margin-top: 20px;
    border-radius: 10px;
}

.card__article-link {text-decoration: none;}

.card__title {height: 200px;}

.card__description {height: 200px;}

/*4O4 Not found page*/
.home-link {
    background-color: #F00;
    text-decoration: none;
    color: #FFF;
    margin-bottom: 40px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.home-link:hover {color: #FFF;}

.not-found-text {font-size: 35px;}

/*Footer*/
footer {padding: 40px;}