<p>users works!</p>
<p>{{message()}}</p>

<button [disabled]="disable">O.K</button>
<div>
  <label for="keyup">name</label>
  <input id="keyup" (keyup)="onkeyup($event)">
</div>

<img [src]="src" style="width: 200px;height:200px;">

<button (click)="increment()">click my</button>
<p>count: {{count}}</p>

<input type="text" [(ngModel)]="value" />
<p>U Entered: {{value}}</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">title</th>
      <th scope="col">actor</th>
      <th scope="col">year</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let move of movies; let i = index'>
      <td>{{i+1}}</td>
      <td>{{move.title}}</td>
      <td>{{move.actor}}</td>
      <td>{{move.year}}</td>
    </tr>
  </tbody>
</table>


<input type="text" [(ngModel)]='num1'>
<div [ngSwitch]="num1">
  <p *ngSwitchCase=1>one</p>
  <p *ngSwitchCase=2>two</p>
  <p *ngSwitchCase=3>three</p>
  <p *ngSwitchCase=4>four</p>
  <p *ngSwitchCase=5>five</p>
  <p *ngSwitchDefault>Default</p>
</div>



<input type='checkbox' [(ngModel)]="show" />


<p *ngIf="show; else Block">checked</p>

                        <!-- true   false -->
<button (click)="isNotSelected = !isNotSelected" [ngClass]="{'bgBlue':!isNotSelected,'bgRed':isNotSelected}">Click</button>


<div class="container">
  <label for="title">title</label>
  <input type="text" id="title" [(ngModel)]="mTitle">
  <br>
  <label for="actor">actor</label>
  <input type="text" id="actor" [(ngModel)]="mActor">
  <br>
  <label for="year">year</label>
  <input type="text" id="year" [(ngModel)]="mYear">

  <button (click)="add()">Add</button>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">title</th>
      <th scope="col">actor</th>
      <th scope="col">year</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let move of movies1  | slice:0:1; let i = index'>
      <td>{{i+1}}</td>
      <td>{{move.title | uppercase}}</td>
      <td>{{move.actor | uppercase}}</td>
      <td>{{move.year}}</td>
      <dt>
        <button (click)="delete(i)">Delete</button>
      </dt>
<p> {{move.actor | slice:1:2}}</p>

    </tr>
  </tbody>
</table>

<div>
  <ul>
    <li *ngFor="let item of obj | keyvalue">
      {{item.key}} -> {{item.value}}
    </li>
  </ul>
</div>

<input type="text" [(ngModel)]="fahrenheit">
<p> celsius: {{fahrenheit | temperature:'C'}}</p>

<input type="text" [(ngModel)]="celsius">
<p> fahrenheit: {{celsius | temperature:'F'}}</p>


<label for="fahrenheit">Fahrenheit</label>
<input
  type="text"
  [(ngModel)]="fahrenheit"
  id="fahrenheit"
  value="{{ celsius | temperature: 'F' }}"
/>

<label for="celsius">Celsius</label>
<input
  type="text"
  [(ngModel)]="celsius"
  id="celsius"
  value="{{ fahrenheit | temperature: 'C' }}"
/>

<ng-template #Block>unchecked</ng-template>
