footer {
  margin-top: 40px;
  background-color: #000;
  color: #fff;
}
a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}
a:hover { text-decoration: underline };
