<form #myForm='ngForm' class="container mt-5" (ngSubmit)="login(myForm.value)">
  
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        ngModel
        #email=ngModel
        required
        email
        (focus)="changeData()"
   
      />
      <div class="error d-flex justify-content-center" *ngIf="email.touched && email.invalid">
          <div *ngIf="email.errors?.['required']">*Email is required*</div>
          <div *ngIf="email.errors?.['email']" 
          >*Please enter valid email*</div>
  
      </div>
    </div>
    
   
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        ngModel
        #password=ngModel
        required
   minlength="6"
   (focus)="changeData()"
   
      />
      <div class="error d-flex justify-content-center" *ngIf="password.touched && password.invalid">
          <div *ngIf="password.errors?.['required']">*Password is required*</div>
          <div *ngIf="password.errors?.['minlength']" 
          >*Password minlength is {{password.errors?.['minlength'].requiredLength}}*</div>
  
      </div>
  
    </div>
    <div class=" error d-flex justify-content-center" *ngIf='invalidLogin'>*Invalid Email or Password...Please try again*</div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
