<html>
    <head>
        <title>Home page</title>
       <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        {{>header}}
        <h1>From about hbs</h1>
        <h2>{{title}}</h2>
        <p>Created by {{name}}</p>
        {{>footer}}
    </body>
</html>